do_visualize: True  # whether to do visualization
num_images_to_vis: 100 # number of images to visualize

Correction: 
  correct_issue_labels: True
  conf_thres: 0.2

Dataset:
  num_folds: 2  # number of folds to split dataset
  dataset_path: /workspace/dataset/ # path to yolo-format dataset inside docker container

  names:
    0: car
    1: bus
    2: truck
    3: moto
    4: plate
    5: driver
    6: passanger
    7: pedestrian
    8: light
    9: traffic_light

Training:
  model: yolov8n
  batch: 32
  imgsz: 256
  cache: False
  workers: 8
  epochs: 1

Inference:
  conf_thres: 0.1
  iou_thres: 0.5

Export:
  format: onnx


